@using System.Text
<div class="accordion-item">
	<h2 class="accordion-header">
		<button class="accordion-button @(StartOpen ? String.Empty : "collapsed")" type="button" data-bs-toggle="collapse" @attributes="@GetHeaderAttributes()">
			@HeaderContent
		</button>
	</h2>
	<div id="@ParentComponent.GetElementId(this)" class="accordion-collapse collapse @(StartOpen ? "show" : string.Empty)" @attributes="@GetContentAttributes()">
		<div class="accordion-body">
			@ChildContent
		</div>
	</div>
</div>



@code {

	[CascadingParameter]
	public Accordion ParentComponent { get; set; }

	[Parameter]
	public RenderFragment ChildContent { get; set; }

	[Parameter]
	public RenderFragment HeaderContent { get; set; }

	[Parameter]
	public bool StartOpen { get; set; }

	private Dictionary<string, object> GetHeaderAttributes()
	{
		var values = new Dictionary<string, object>();
		values.Add("data-bs-target", $"#{ParentComponent.GetElementId(this)}");

		return values;
	}

	private Dictionary<string, object> GetContentAttributes()
	{
		var values = new Dictionary<string, object>();
		if (!ParentComponent.MultipleOpen)
			values.Add("data-bs-parent", $"#{ParentComponent.AccordionId}");

		return values;
	}

	protected override void OnInitialized()
	{
		if (ParentComponent != null)
		{
			ParentComponent.AddElement(this);
		}

		base.OnInitialized();
	}
}
