@page "/functions/activeWindow/browserVideoPlayer"
@using Amusoft.PCR.Server.Dependencies
@inject IUserContextChannel _userContextChannel

<Title Headline="Browser video player" WindowTitle="Browser video player"></Title>

<div class="container">
	<div class="row mb-3 mb-xl-2">
		<Button CssClass="d-inline-block col-xl-4" OnClick="@(() => _userContextChannel.SendKeys(" {m}"))">Mute</Button>
	</div>
	<div class="row mb-3 mb-xl-2">
		<Button CssClass="d-inline-block col-xl-4" OnClick="@(() => _userContextChannel.SendKeys(" {f}"))">Toggle fullscreen</Button>
	</div>
	<div class="row mb-3 mb-xl-2">
		<Button CssClass="d-inline-block col-xl-4" OnClick="@(() => _userContextChannel.SendKeys(" "))">Toggle pause</Button>
	</div>
	<div class="row mb-3 mb-xl-2">
		<Button CssClass="d-inline-block col-xl-4" OnClick="@(() => _userContextChannel.SendKeys(" {LEFT}"))">←</Button>
	</div>
	<div class="row mb-3 mb-xl-2">
		<Button CssClass="d-inline-block col-xl-4" OnClick="@(() => _userContextChannel.SendKeys(" {RIGHT}"))">→</Button>
	</div>
	<div class="row mb-3 mb-xl-2">
		<Button CssClass="d-inline-block col-xl-4" OnClick="@(() => _userContextChannel.SendKeys(" {UP}"))">↑</Button>
	</div>
	<div class="row mb-3 mb-xl-2">
		<Button CssClass="d-inline-block col-xl-4" OnClick="@(() => _userContextChannel.SendKeys(" {DOWN}"))">↓</Button>
	</div>
</div>