@page "/applicationsettings"
@using Amusoft.PCR.Model.Statics
@using Amusoft.PCR.Blazor
@using Amusoft.PCR.Server.Domain.Common
@using System.Threading
@using Amusoft.PCR.Blazor.Extensions
@using Amusoft.PCR.Model
@using Amusoft.PCR.Model.Entities
@using Microsoft.EntityFrameworkCore
@using Microsoft.Extensions.DependencyInjection
@using System.Collections.ObjectModel
@using Amusoft.PCR.Grpc.Common
@using GrpcDotNetNamedPipes
@using Microsoft.Extensions.Logging
@attribute [Authorize(Roles = RoleNames.Permissions)]

<Title Headline="Application settings" WindowTitle="Application settings"></Title>

<EditForm Model="_model" OnValidSubmit="OnSave">

	<h1 class="mb-2 text-primary">Voice recognition commands</h1>
	<div class="p-2">
		<LabeledCheckbox @bind-Checked="@_model.VoiceRecognitionEnabled">enabled</LabeledCheckbox>
		
		<LabeledRange Step="1" MinValue="0" MaxValue="100" Title="A lower value will trigger on less accurate detection results" @bind-Value="@_model.ConfidenceThreshold">
			Recognition threshold
		</LabeledRange>

		<label class="mb-2 mt-3 text-primary">Trigger phrases</label>
		<TextBox Placeholder="Voice recognition trigger word" @bind-Value="@_model.VoiceRecognitionTriggerWord"></TextBox>

		<TextBox Placeholder="Audio trigger word" @bind-Value="@_model.AudioTriggerWord" WrapperClasses="mt-2"></TextBox>

		<TextBox Placeholder="Audio trigger word" @bind-Value="@_model.AudioTriggerMasterWord" WrapperClasses="mt-2"></TextBox>

		<label class="mb-2 mt-4 text-primary">Voice messages</label>
		<TextBox Placeholder="Confirm message" @bind-Value="@_model.ConfirmMessage"></TextBox>

		<TextBox Placeholder="Error message" @bind-Value="@_model.ErrorMessage" WrapperClasses="mt-2"></TextBox>

		<label class="mb-2 mt-4 text-primary">Alias configuration</label>
		<Accordion AccordionId="alias-configuration">
			<AccordionElement>
				<HeaderContent>
					Off
				</HeaderContent>
				<ChildContent>
					@if (_model.OffAliases != null)
					{
						foreach (var item in _model.OffAliases)
						{
							<div class="row mb-2">
								<TextBox WrapperClasses="col m-0" @bind-Value="item.Name"></TextBox>
								<Button ButtonTheme="ButtonThemeKind.Danger" CssClass="col-auto" OnClick="args => _model.OffAliases.Remove(item)">Remove</Button>
							</div>
						}
					}

					<Button ButtonTheme="ButtonThemeKind.Secondary" OnClick="OnAddOffAliasClick">Add alias</Button>
				</ChildContent>
			</AccordionElement>

			<AccordionElement>
				<HeaderContent>
					On
				</HeaderContent>
				<ChildContent>
					@if (_model.OnAliases != null)
					{
						foreach (var item in _model.OnAliases)
						{
							<div class="row mb-2">
								<TextBox WrapperClasses="col m-0" @bind-Value="item.Name"></TextBox>
								<Button ButtonTheme="ButtonThemeKind.Danger" CssClass="col-auto" OnClick="args => _model.OnAliases.Remove(item)">Remove</Button>
							</div>
						}
					}

					<Button ButtonTheme="ButtonThemeKind.Secondary" OnClick="OnAddOnAliasClick">Add alias</Button>
				</ChildContent>
			</AccordionElement>


			@foreach (var feed in _model.FeedAliases)
			{
				<AccordionElement>
					<HeaderContent>
						@feed.FeedName
					</HeaderContent>
					<ChildContent>

						@if (feed.Aliases != null)
						{
							foreach (var item in feed.Aliases)
							{
								<div class="row mb-2">
									<TextBox WrapperClasses="col m-0" @bind-Value="item.Name"></TextBox>
									<Button ButtonTheme="ButtonThemeKind.Danger" CssClass="col-auto" OnClick="args => feed.Aliases.Remove(item)">Remove</Button>
								</div>
							}
						}

						<Button ButtonTheme="ButtonThemeKind.Secondary" OnClick="args => feed.Aliases.Add(new AliasValue())">Add alias</Button>
					</ChildContent>
				</AccordionElement>
			}

		</Accordion>

		<Button CssClass="mt-2" ButtonForm="ButtonFormKind.Submit" ButtonTheme="ButtonThemeKind.Primary">Save</Button>
	</div>
</EditForm>

@code {

	private LocalEditModel _model = new LocalEditModel();

	[Inject]
	public KeyValueSettingsManager KeyValueSettingsManager { get; set; }

	[Inject]
	public IServiceScopeFactory ServiceScopeFactory { get; set; }

	[Inject]
	public IJSRuntime JsRuntime { get; set; }

	[Inject]
	public ILogger<ApplicationSettings> Log { get; set; }

	private class AliasValue
	{
		public string Name { get; set; }
	}

	private class LocalFeedAlias
	{
		public string FeedName { get; set; }

		public List<AliasValue> Aliases = new();
	}

	private class LocalEditModel
	{
		public string VoiceRecognitionTriggerWord { get; set; }

		public string AudioTriggerWord { get; set; }

		public string AudioTriggerMasterWord { get; set; }

		public string ConfirmMessage { get; set; }

		public string ErrorMessage { get; set; }

		public int ConfidenceThreshold { get; set; }

		public bool VoiceRecognitionEnabled { get; set; }

		public List<AliasValue> OnAliases { get; set; } = new();

		public List<AliasValue> OffAliases { get; set; } = new();

		public List<LocalFeedAlias> FeedAliases { get; set; } = new();
	}

	protected override async Task OnInitializedAsync()
	{
		_model.VoiceRecognitionEnabled = await KeyValueSettingsManager.GetByKindAsBoolAsync(CancellationToken.None, KeyValueKind.VoiceRecognitionEnabled, false);
		_model.ConfirmMessage = await KeyValueSettingsManager.GetByKindAsStringAsync(CancellationToken.None, KeyValueKind.VoiceRecognitionConfirmMessage, "OK");
		_model.ErrorMessage = await KeyValueSettingsManager.GetByKindAsStringAsync(CancellationToken.None, KeyValueKind.VoiceRecognitionErrorMessage, "Error");
		_model.OnAliases = AliasListFromString(await KeyValueSettingsManager.GetByKindAsStringAsync(CancellationToken.None, KeyValueKind.VoiceRecognitionTriggerWordOnAliases, "On"));
		_model.OffAliases = AliasListFromString(await KeyValueSettingsManager.GetByKindAsStringAsync(CancellationToken.None, KeyValueKind.VoiceRecognitionTriggerWordOffAliases, "Off"));
		_model.AudioTriggerWord = await KeyValueSettingsManager.GetByKindAsStringAsync(CancellationToken.None, KeyValueKind.VoiceRecognitionTriggerWordAudio, "Audio");
		_model.VoiceRecognitionTriggerWord = await KeyValueSettingsManager.GetByKindAsStringAsync(CancellationToken.None, KeyValueKind.VoiceRecognitionTriggerWord, "Computer");
		_model.ConfidenceThreshold = await KeyValueSettingsManager.GetByKindAsIntAsync(CancellationToken.None, KeyValueKind.VoiceRecognitionThreshold, 25);
		_model.AudioTriggerMasterWord = await KeyValueSettingsManager.GetByKindAsStringAsync(CancellationToken.None, KeyValueKind.VoiceRecognitionTriggerWordAudioMaster, "Master");

		using var serviceScope = ServiceScopeFactory.CreateScope();
		using var dbContext = serviceScope.ServiceProvider.GetRequiredService<ApplicationDbContext>();
		_model.FeedAliases = await CreateFeedsFromDatabaseAsync(dbContext);

		await base.OnInitializedAsync();
	}

	private async Task<List<LocalFeedAlias>> CreateFeedsFromDatabaseAsync(ApplicationDbContext dbContext)
	{
		var result = new List<LocalFeedAlias>();
		var feeds = await dbContext.AudioFeeds
			.Include(d => d.Aliases)
			.ToListAsync();

		foreach (var audioFeed in feeds)
		{
			var localFeedAlias = new LocalFeedAlias();
			localFeedAlias.FeedName = audioFeed.Name;

			foreach (var feedAlias in audioFeed.Aliases)
			{
				localFeedAlias.Aliases.Add(new AliasValue(){Name = feedAlias.Alias });
			}

			result.Add(localFeedAlias);
		}

		return result;
	}

	private async Task<bool> UpdateAudioProcessAliasListAsync()
	{
		using var scope = ServiceScopeFactory.CreateScope();
		using var dbContext = scope.ServiceProvider.GetRequiredService<ApplicationDbContext>();

		var currentFeeds = await dbContext.AudioFeeds.ToListAsync();

		foreach (var localFeedAlias in _model.FeedAliases)
		{
			var audioFeed = currentFeeds.Find(d => d.Name == localFeedAlias.FeedName);
			if (audioFeed == null)
			{
				dbContext.AudioFeeds.Add(new AudioFeed() {Name = localFeedAlias.FeedName, Aliases = BuildAudioFeedAliasList(localFeedAlias, null)});
			}
			else
			{
				dbContext.RemoveRange(await dbContext.AudioFeedAliases.Where(d => d.FeedId == audioFeed.Id).ToListAsync());
				dbContext.AudioFeedAliases.AddRange(BuildAudioFeedAliasList(localFeedAlias, audioFeed.Id));
			}
		}

		return await dbContext.SaveChangesAsync() > 0;
	}

	private ICollection<AudioFeedAlias> BuildAudioFeedAliasList(LocalFeedAlias localFeedAlias, string audioFeedId)
	{
		var result = new Collection<AudioFeedAlias>();
		foreach (var aliasValue in localFeedAlias.Aliases)
		{
			result.Add(new AudioFeedAlias() {Alias = aliasValue.Name, FeedId = audioFeedId });
		}

		return result;
	}

	private List<AliasValue> AliasListFromString(string values)
	{
		return values.Split('|').Select(d => new AliasValue() {Name = d}).ToList();
	}

	private async Task OnSave()
	{
		Log.LogInformation("Saving application settings");

		var keyValueUpdates = new (KeyValueKind kind, string value)[]
		{
			(KeyValueKind.VoiceRecognitionEnabled, _model.VoiceRecognitionEnabled ? bool.TrueString : bool.FalseString),
			(KeyValueKind.VoiceRecognitionConfirmMessage, _model.ConfirmMessage),
			(KeyValueKind.VoiceRecognitionErrorMessage, _model.ErrorMessage),
			(KeyValueKind.VoiceRecognitionTriggerWordOnAliases, CreateAliasList(_model.OnAliases)),
			(KeyValueKind.VoiceRecognitionTriggerWordOffAliases, CreateAliasList(_model.OffAliases)),
			(KeyValueKind.VoiceRecognitionTriggerWord, _model.VoiceRecognitionTriggerWord),
			(KeyValueKind.VoiceRecognitionTriggerWordAudio, _model.AudioTriggerWord),
			(KeyValueKind.VoiceRecognitionThreshold, _model.ConfidenceThreshold.ToString()),
			(KeyValueKind.VoiceRecognitionTriggerWordAudioMaster, _model.AudioTriggerMasterWord),
		};

		bool errors = false;
		var updateResult = await KeyValueSettingsManager.UpdateAsync(CancellationToken.None, keyValueUpdates);
		if (!updateResult)
		{
			errors = true;
			await JsRuntime.UI().Alert("Failed to update Voice recognition properties");
			Log.LogError("Failed to update Voice recognition properties");
		}
		if (!await UpdateAudioProcessAliasListAsync())
		{
			errors = true;
			await JsRuntime.UI().Alert("Failed to update alias list");
			Log.LogError("Failed to update alias list");
		}
		if (!await UpdateVoiceRecognitionEnabledStateAsync())
		{
			errors = true;
			await JsRuntime.UI().Alert("Failed to update enabledState");
			Log.LogError("Failed to update enabledState");
		}

		if (errors)
		{
			Log.LogError("Saving failed with errors");
		}
		else
		{
			Log.LogInformation("Save successful");
		}

	}

	private async Task<bool> UpdateVoiceRecognitionEnabledStateAsync()
	{
		try
		{
			var enabledCurrently = await KeyValueSettingsManager.GetByKindAsBoolAsync(CancellationToken.None, KeyValueKind.VoiceRecognitionEnabled, false);

			using var scope = ServiceScopeFactory.CreateScope();
			var channel = scope.ServiceProvider.GetRequiredService<NamedPipeChannel>();
			var client = new VoiceCommandService.VoiceCommandServiceClient(channel);
			if (_model.VoiceRecognitionEnabled)
			{
				if (enabledCurrently)
					return true;

				await client.StartVoiceRecognitionAsync(new DefaultRequest());
			}
			else
			{
				if (!enabledCurrently)
					return true;

				await client.StopVoiceRecognitionAsync(new DefaultRequest());
			}

			return true;
		}
		catch (Exception e)
		{
			Log.LogError(e, nameof(UpdateVoiceRecognitionEnabledStateAsync));
			return false;
		}
	}


	private string CreateAliasList(List<AliasValue> aliases)
	{
		return string.Join('|', aliases.Select(d => d.Name));
	}

	private void OnAddOnAliasClick()
	{
		_model.OnAliases.Add(new AliasValue());
	}

	private void OnAddOffAliasClick()
	{
		_model.OffAliases.Add(new AliasValue());
	}
}
